<main>



    <section id="section-banners">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-slide-to="0">
            <img src="img/banner1.PNG" class="d-block w-100" alt="Venha comprar na nossa Loja">
          </div>
          <div class="carousel-item" data-slide-to="1">
            <img src="img/banner2.PNG" class="d-block w-100" alt="Promoção de produtos">
          </div>
          <div class="carousel-item" data-slide-to="2">
            <img src="img/banner3.PNG" class="d-block w-100" alt="Várias novidades de produtos">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </section>
    <section id="section-vendidos">

      <h2>OS MAIS VENDIDOS</h2>

      <div class="card-group">
        <div class="card">
          <img src="img/jogo1.PNG" class="card-img-top" alt="Descrição da foto">
          <div class="card-body">
            <h5 class="card-title">jogo 1</h5>
            <p class="card-text">Jogo do ano</p>
            <p class="preco">RS 182,00</p>
            <a class="btn btn-primary" href="" role="button">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="img/jogo2.PNG" class="card-img-top" alt="Descrição da foto">
          <div class="card-body">
            <h5 class="card-title">jogo 2</h5>
            <p class="card-text">Jogo top de Linha</p>
            <p class="preco">RS 152,00</p>
            <a class="btn btn-primary" href="">Comprar</a>
          </div>
        </div>
        <div class="card">
          <img src="img/jogo3.PNG" class="card-img-top" alt="Descrição da foto">
          <div class="card-body">
            <h5 class="card-title">jogo 3</h5>
            <p class="card-text">Melhor de todos</p>
            <p class="preco">RS 172,00</p>
            <a class="btn btn-primary" href="" role="button">Comprar</a>

          </div>
        </div>
      </div>

    </section>


  </main>
